

ion-tab-bar {
    background: linear-gradient(to bottom right, #52cbff, #13b8ff);
    height: 5em;
}

ion-tab-button {
    background-color: transparent;
    --background-focused: transparent;
    --color: #e4f7ff;
}