<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="books">
      <ion-icon name="book"></ion-icon>
      <ion-label>My Books</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="find">
      <ion-icon name="search"></ion-icon>
      <ion-label>Find</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>