/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-primary: #3353ff;
    --ion-color-primary-rgb: 51,83,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #1e3ee8;
    --ion-color-primary-tint: #526dff;
}

:root {
    --ion-background-color: #abe6ff;
    --ion-background-color-rgb: 171,230,255;
    --ion-background-color-contrast: #141627;
    --ion-background-color-contrast-rgb: 20,22,39;
    --ion-background-color-shade: #90deff;
    --ion-background-color-tint: #c5eeff;
}

ion-toolbar {
    --background: linear-gradient(to bottom right, #52cbff, #13b8ff);
    --color: #e4f7ff;
    --min-height: 5em;
    --padding-start: 2em;
}

