.flexcol {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ion-card {
    --background: #ffffff50;
}

.title {
    text-align: center;
    color: #0f003193;
    font-size: 2em;
}

.title strong {
    color: #0f0031b7;
    font-size: 1.1em;
}

ion-item {
    --background: transparent;
}