<ion-header>
</ion-header>

<ion-content>

  <div class="flexcol">
    <ion-card item-content>
      <ion-card-header>
        <ion-card-title class="title">Create a <strong>LibTrade</strong> account!</ion-card-title>
      </ion-card-header>    
      <ion-card-content>
        
        <form #f="ngForm" enctype="multipart/form-data" (ngSubmit)="add(f)">
          <ion-item>
            <ion-label position="floating">Email address</ion-label>
            <ion-input name="email" placeholder="john.smith@example.com" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">First name</ion-label>
            <ion-input name="first" placeholder="John"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Last name</ion-label>
            <ion-input name="last" placeholder="Smith"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Create a secure password</ion-label>
            <ion-input name="password" placeholder="Don't share this with anyone!" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" >Phone number</ion-label>
            <ion-input name="phone" placeholder="96112345678" type="number">
              <ion-icon name="add" class="ion-float-left ion-margin-end"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Which city are you in?</ion-label>
            <ion-input name="location" placeholder="Beirut"></ion-input>
          </ion-item>
          <ion-item lines="none">
              <ion-label position="floating">Upload a photo (optional) <ion-icon name="image-outline"></ion-icon></ion-label>
            <input name="image" type="file" accept="image/*">
          </ion-item>
          <ion-item>
            <a href="/login" class="ion-text-center">I already have an account</a>
          </ion-item>
          <a href="/login" id="signup" style="display: none;"></a>
          <ion-button expand="block" (click)="signup($event)">Submit</ion-button>
        </form>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
