<ion-header>
</ion-header>

<ion-content>

  <div class="flexcol">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title">Create a <strong>LibTrade</strong> account!</ion-card-title>
      </ion-card-header>    
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Floating Label</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Floating Label</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Floating Label</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
