<ion-header>
</ion-header>

<ion-content>

  <div class="flexcol">
    <ion-card item-content>
      <ion-card-header>
        <ion-card-title class="title">Log in to <strong>LibTrade</strong>!</ion-card-title>
      </ion-card-header>    
      <ion-card-content>
        
        <form>
          <ion-item *ngIf="error">
            <ion-text color="danger"><h2>Your email or password is incorrect. Please try again.</h2></ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email address</ion-label>
            <ion-input (click)="removeError()" name="email" placeholder="john.smith@example.com" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input (click)="removeError()" name="password" placeholder="Don't share this with anyone!" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <a href="/signup" class="ion-text-center">Create an account</a>
          </ion-item>
          <a href="/books" id="login" style="display: none;"></a>
          <ion-button expand="block" (click)="login()">Log in</ion-button>
        </form>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
