<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Add a book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flexcol">
    <form #f="ngForm" enctype="multipart/form-data" (ngSubmit)="add(f)">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input ngModel name="email" placeholder="john.smith@example.com" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Author</ion-label>
        <ion-input ngModel name="first-name" placeholder="John" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="ion-margin-bottom" >
          <ion-label position="floating">Upload book cover <ion-icon name="image-outline"></ion-icon></ion-label>
        <input ngModel name="image" type="file" accept="image/*" (change)="getFiles($event)">
      </ion-item>
      <ion-button type="submit" class="ion-margin-top" (click)="add()">Submit</ion-button>
    </form>
  </div>

</ion-content>
