ion-card {
    background-color: #ffffff67;
    border-radius: 20px;
}

img {
    border-radius: 20px;
    display: block;
    margin: auto;
    width: 38vw;
    height: 30vh;
    object-fit: cover;
}

h1,h3 {
    line-height: 0.8em;
    margin: 10px 20px;
    color: #3d3d3d;
}