<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="books" (click)="getBooks()">
      <ion-icon name="book" size="large"></ion-icon>
      <ion-label>My Books</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="find">
      <ion-icon name="search" size="large"></ion-icon>
      <ion-label>Find</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person" size="large"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>